# 💥 Python-специфичное
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# 📦 Виртуальные окружения
venv/
env/
.venv/

# 💾 Логи, дампы, времянка
*.log
logs/
*.tmp
*.swp

# 📁 Базы данных (если локальные)
database/storage.db

# 🧪 IDE, редакторы, системы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
*.iml

# 🧪 Тестовые файлы и модули
tests/__pycache__/
test_*.py

# 🐍 pipenv, poetry и т.п.
Pipfile.lock
poetry.lock

# 🔐 Переменные окружения и секреты
.env
.env.*

# 💀 Структурный скрипт
tools/strukture.py
